img {
    object-fit: cover;
}

.background {
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(0, 176, 255, 1) 0%, rgba(252, 176, 69, 1) 100%);

}

.title {
    padding: 2rem;

}

.card {
    box-shadow: 0rem 2rem 2rem;
}